.headerBar {
    height: 129px;
    background-color: #778873;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.headerText {
    font-size: 3rem;
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.logoImage {
    float: right;;
}

.searchBar {
    height: 57px;
    width: 1047px;
    border-radius: 15px;
    margin-top: 25px;
    background-image: url('/Images/SearchIcon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
}